/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

.container-fluid {
    position: relative;
}

.portfolio_description {
    position: absolute;
    top: 50px;
    right:10px;
    /*width: 20%;*/
    text-align: left;
  }

  .payoff span{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 4px;
    text-align: left;
    color: white;
  }

  #presentazione, .farmacia-img, #incontri, #eventi{
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  }
  #presentazione h1{
    text-align: left;
    padding-left: 10px;
  }
 #presentazione img {
    width: 100%;
    height: 100%;
  }
  .farmacia-img h1{
    text-align: left;
    padding-left: 10px;
  }
 .farmacia-img img {
    width: 100%;
    height: 100%;
  }
  #incontri {
    margin-top:30px;
  }
  #incontri .payoff3 span {
    position: absolute;
    top: -50px;
    left: 20px;
    width: 100%;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 4px;
    text-align: left;
    color: grey;
    z-index: 100;
  }
  #eventi .payoff3 span {
    position: absolute;
    top: -50px;
    left: 20px;
    width: 100%;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 4px;
    text-align: left;
    color: grey;
    z-index: 100;
  }
.farmacia-img .payoff2 span{
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 100%;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 4px;
    text-align: left;
    color: white;
    z-index: 100;
  }

.circleLine {
  background: radial-gradient(circle at center, #ffbdd7 0%, #ffbdd7 30%, transparent 20%);
  background-size: 30px 30px;
  background-repeat: repeat-x;
  background-position: 5px center;
  width: 100%;
  height: 50px;
}
.circleLineSmall {
    background: radial-gradient(circle at center, #ffbdd7 0%, #ffd3bc 30%, transparent 20%);
    background-size: 10px 10px;
    background-repeat: repeat-x;
    background-position: 20px 20px;
    width: 100%;
    height: 2.5em;
    text-align: left;
    display: inline-block;
    }

/*
 * Base structure
 */
html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .container {
        height: 100%;
        position: relative;
      }

      input {
        font-size: 12px;
      }

      h1 {
        color: #525454;
        font-size: 22px;
        margin: 0 0 10px 0;
        text-align: center;
      }

html,
body {
  height: 100%;
  background-color: #fff;
  font-family: "Helvetica Neue", Arial, sans-serif !default;
  /*background: url("../img/07.jpg") repeat;*/
}
body {
  color: #000;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

.table-responsive {
  border-style: hidden;
  text-align: left;
}



.small {
  text-align: left;
}


.title {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 4px;
  text-align: left;
}


.hrline {
    padding: 0px;
    margin: 0px;
    margin-top:-1em;
  }

.pull-right {
  padding-right:10px;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  /*display: table;*/
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
  /*margin: 10px;*/
}
.site-wrapper-inner {
  /*display: table-cell;*/
  vertical-align: top;
}
/*.cover-container {
  margin-right: auto;
  margin-left: auto;
  background: url("../img/07.jpg") repeat;
background: url('../img/MolMotion.jpg') no-repeat center center fixed;
}*/
.description {
  text-align: left;
}
/* Padding for spacing */
.inner {
  padding: 30px;
  margin:30px;
}

@media (max-device-width: 480px){
  html {
    font-size: 9px;
  }
#presentazione, .farmacia-img {
  position: relative;
  display: inline-block;
}

#presentazione h1 span{
  font-size: 20px;
}
.farmacia-img img{
  width: 100%;
  height: 100%;
}
.farmacia-img .payoff2 span{
    font-size: 20px;
    left:10px;
    bottom:10px;
  }
  .inner {
    padding: 0;
    margin:0;
  }
  .portfolio_description {
    display:none;
  }
  .circleLineSmall {
     display:none;
  }
}

@media (max-width: 543px) {
  html {
    font-size: 24px;
    }
    #presentazione h1 span{
  font-size: 16px;
}
  /* .payoff span {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 4px;
    text-align: left;
    color: white;
  }
  .payoff{
    left:10px;
    width: 100%;
    font-family: 'Roboto';
    text-align: left;
  }*/
  .portfolio_description {

       display:none;
    }
   .inner {
      padding: 10px;
      margin:10px;
    }
}


@media (max-width: 770px) {
 html {
    font-size: 20px;
  }
#presentazione h1 span{
  font-size: 30px;
}
  .payoff span {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 4px;
    text-align: left;
    color: white;
  }
  .payoff{
    left:10px;
    width: 100%;
    font-family: 'Roboto';
    text-align: left;
  }
.portfolio_description p span{
    position: absolute;
    top: 50px;
    right:0;

    text-align: left;
    /*background-color: rgba(255,255,255,0.1);*/

}
.inner {
  padding: 20px;
  margin:20px;
}
.circleLineSmall {
    background: radial-gradient(circle at center, #ffbdd7 0%, #ffd3bc 30%, transparent 20%);
    background-size: 10px 10px;
    background-repeat: repeat-x;
    background-position: 20px 20px;
    width: 100%;
    height: 2.5em;
    text-align: left;
    display: inline-block;
    }
p {
  line-height: 100%;
 }
}


@media (max-width: 991px) {
html {
    font-size: 20px;
  }
  .payoff span {
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 4px;
    text-align: left;
    color: white;
  }
  .payoff{
    left:10px;
    width: 100%;
    font-family: 'Roboto';
    text-align: left;
  }
.portfolio_description {
    position: absolute;
    top: 50px;
    right:0;
    width: 20%;
    text-align: left;
    /*background-color: rgba(255,255,255,0.1);*/

}
.inner {
  padding: 20px;
  margin:20px;
}
 }

@media (max-width: 1199px) {
html {
    font-size: 28px;
  }
  .payoff span {
    font-family: 'Roboto';
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 4px;
    text-align: left;
    color: white;
  }
  .payoff{
    left:10px;
    width: 100%;
    font-family: 'Roboto';
    text-align: left;
  }
.portfolio_description {
    position: absolute;
    top: 50px;
    right:0;
    width: 20%;
    text-align: left;

  }
}



/* **********************************/


/*
 * Header
 */
/*.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  /*color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}*/

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;

}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

/*.mastfoot {
  color: #000;  IE8 proofing
  color: rgba(255,255,255,.5);
}*/
.mastfoot a, a:focus, a:hover {
  color: #000;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
   /* position: absolute;*/
    top: 0;
  }

  .mastfoot {
   /* position: absolute;*/
   /* bottom: 0px;*/
    margin: 20px;
    width:100%;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container{
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container{
    width: 100%;

    text-align: center;
  }
}

.columnfill {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;
}