/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}


.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.portfolio_description {
    position: absolute;
    top: 50px;
    right:0;
    width: 20%;
    /*background-color: rgba(255,255,255,0.1);*/
  }

  .payoff{
    position: absolute;
    bottom: 0px !important;
    top: 500px;
    left:30px;
    width: 50%;
    font-family: 'Roboto';
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 4px;
    text-align: left;
  }
.circleLine {
  background: radial-gradient(circle at center, #ffbdd7 0%, #ffbdd7 30%, transparent 20%);
  background-size: 30px 30px;
  background-repeat: repeat-x;
  background-position: 5px center;
  width: 100%;
  height: 50px;
}
.circleLineSmall {
    background: radial-gradient(circle at center, #ffbdd7 0%, #ffd3bc 30%, transparent 20%);
    background-size: 10px 10px;
    background-repeat: repeat-x;
    background-position: 5px 20px;
    width: 100%;
    height: 2em;
    text-align: left;
    }

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  /*background: url("../img/07.jpg") repeat;*/
}
body {
  color: #000;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
/*tr {
  border-width: 3px;
  padding: 5px;  
  border-style: dotted;  
  border-color: grey;
  width: 100%;
}*/
.table-responsive {
  border-style: hidden;
  text-align: left;
}





#presentazione {
  margin-bottom: 30px;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  /*display: table;*/
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
  /*margin: 10px;*/
}
.site-wrapper-inner {
  /*display: table-cell;*/
  vertical-align: top;
}
/*.cover-container {
  margin-right: auto;
  margin-left: auto;
  background: url("../img/07.jpg") repeat;
background: url('../img/MolMotion.jpg') no-repeat center center fixed;
}*/
.description {
  text-align: left;
}
/* Padding for spacing */
.inner {
  padding: 30px;
  margin:30px;
}
@media (max-device-width: 480px){
  html {
    font-size: 9px;
    }

.inner {
  padding: 0;
  margin:0;
}
.row p{
  width: 100%;
}
.portfolio_description {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    /*background-color: rgba(255,255,255,0.1);*/
    }
.circleLineSmall {
    background: none;
    }

}

@media (max-width: 543px) {
  html {
    font-size: 12px;
    }
  .portfolio_description {
    position: absolute;
    top: 50px;
    right:0;
    width: 100%;
    /*background-color: rgba(255,255,255,0.1);*/
    }
   .inner {
  padding: 10px;
  margin:10px;
}
}


@media (max-width: 767px) {
 html {
    font-size: 20px;
  }
.portfolio_description {
    position: absolute;
    top: 50px;
    right:0;
    width: 50%;
    text-align: left;
    /*background-color: rgba(255,255,255,0.1);*/

}
.inner {
  padding: 20px;
  margin:20px;
}
 }


@media (max-width: 991px) {
html {
    font-size: 20px;
  }
.portfolio_description {
    position: absolute;
    top: 50px;
    right:0;
    width: 20%;
    text-align: left;
    /*background-color: rgba(255,255,255,0.1);*/

}
.inner {
  padding: 20px;
  margin:20px;
}
 }

@media (max-width: 1199px) {
html {
    font-size: 28px;
  }
.portfolio_description {
    position: absolute;
    top: 50px;
    right:0;
    width: 20%;
    text-align: left;
    /*background-color: rgba(255,255,255,0.1);*/

  }
}





/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;

}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #000; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
   /* position: absolute;*/
    top: 0;
  }

  .mastfoot {
   /* position: absolute;*/
   /* bottom: 0px;*/
    margin: 20px;
    width:100%;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container{
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container{
    width: 100%;

    text-align: center;
  }
}


.small {
  text-align: left;
}


.title {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 4px;
  text-align: left;
}


.hrline {
    padding: 0px;
    margin: 0px;
    margin-top:-1em; 
  }