

/* Links */
a,
a:focus,
a:hover {
  color: #000;
  text-decoration: none;
}
a.decoration {
  text-decoration: underline;
  -moz-text-decoration-line: #99CC00;
-moz-text-decoration-color: #99CC00;
-webkit-tap-highlight-color: #99CC00;
}
/*.navbar-brand {
    max-width: 60%;
}*/

.mastfoot {
   /* position: absolute;*/
   /* bottom: 0px;*/
    margin: 20px;
    width:100%;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container{
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }


  

  #presentazione, .farmacia-img, #incontri, #eventi{
  margin-bottom: 30px;
  position: relative;
  display: block;
  }
  
  #farmacia {
    margin-top: 30px;
  }
  .farmacia-img h1{
    text-align: left;

  }
 .farmacia-img img {
    width: 100%;
    height: 100%;

  }
  #notizie {
    position: relative;
    display: block;
    padding-top:30px;
  }
  .payoff3 {
    padding-left: 20px;
  }
 #notizie h1.payoff3 span{
    position: absolute;
    top: -40px;
    left: 40px;

    width: 100%;
    font-size: 100px;
    font-weight: 900;
    text-align: left;
    color: #c6c6c6;
  }

.farmacia-img .payoff2 span{
    position: absolute;
    bottom: 0;
    left: 0.7em;
    width: 100%;
    font-size: 100px;
    font-weight: 900;

    text-align: left;
    color: white;

  }

.circleLine {
  background: radial-gradient(circle at center, #c6c6c6 0%, #c6c6c6 30%, transparent 20%);
  background-size: 30px 30px;
  background-repeat: repeat-x;
  background-position: 5px center;
  width: 100%;
  height: 50px;
  padding-left:20px;
  display:block;
}
.circleLineSmall {
    background: radial-gradient(circle at center, #c6c6c6 0%, #c6c6c6 30%, transparent 20%);
    background-size: 10px 10px;
    background-repeat: repeat-x;
    background-position: 20px 20px;
    width: 100%;
    height: 2.5em;
    text-align: left;
    display: block;
    }



/*
 * Base structure
 */


html,
body {
  padding: 0px;
  /*padding-top:100px;*/
  width: 100%;
  margin: 0px;

  overflow-x: hidden;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  text-align: center;
  /*background: url("../img/07.jpg") repeat;*/
}


.table-responsive {
  border-style: hidden;
  text-align: left;
}



.small {
  text-align: left;
}


.title {
  font-size: 40px;
  font-weight: 900;
  text-align: left;
  padding-left:0.5em;
  color:#c6c6c6;
}


.hrline {
    padding: 0px;
    margin: 0px;
    margin-bottom:1em;
    background-color:white;
  }

.pull-right {
  padding-right: 1em;
  margin-bottom:1em;
}

.navbar-brand{
  display: none;
}
 .navbar-default {
    background-color: #FFF;
    border-color: #FFF;
}
.navbar-default .navbar-nav > li > a {
   color: #000; /*Change active text color here*/
    }
/*.navbar .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #000;
background-color: #99CC00;
}*/

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: block;
  width: 100%;
  /*height: 100%; /* For at least Firefox */
  /*min-height: 100%;*/

}
.site-wrapper-inner {
  display: block;
  /*vertical-align: top;*/
}
.cover-container {
  margin-right: auto;
  margin-left: auto;

}

/* Padding for spacing */
.inner {
  margin-left: 2em;
  margin-right:2em;
  margin-bottom:2em;
  padding-left:2.5em;
  padding-right:3em;
}

.description {
  text-align: left;
}

.center {
  text-align: center;
}
.margin {
  margin-bottom: 1em;
}
.margin-neg{
  margin-bottom:-1px;
}
.vertalign{
    display: table-cell;
    vertical-align: bottom;
}
.vertical-align {
    display: flex;
    align-items: baseline;
}

.color_green{
  color:#99CC00;
  font-size: 20px;
}
.grigio_scuro{
  color:rgb(122,134,128);
}
.grigio_chiaro{
  color:rgb(198,198,198);
}

@media (max-device-width: 480px){
html, body {
    font-size: 10px;
    text-align: center;
    width:100%;
  }
.center {
  text-align: center;
}
.navbar-brand{
  display: inline;
}
 .farmacia-img {
  position: relative;
  display: inline-block;
  padding-top:10px;
}

#presentazione h1 span{
  font-size: 20px;
}
.farmacia-img img{
  width: 100%;
  height: 100%;
}
.farmacia-img .payoff2 span{
    font-size: 40px;
    left:30px;
    bottom:20px;
}
#notizie .payoff3 span{
  font-size: 40px;
    left:40px;
    bottom:20px;
}
.title {
  padding:0;
 margin:0;
 margin-right:10px;
}
  .inner {
  margin-left: 0;
  margin-right:0;
  margin-bottom:0;
  padding-left:0;
  padding-right:0;
}
  
  .circleLineSmall {
     display:none;
  }
  #notizie {
    position: relative;
    display: block;
    padding:0px;
  }
  .circleLine {
  background: radial-gradient(circle at center, #c6c6c6 0%, #c6c6c6 30%, transparent 20%);
  background-size: 30px 30px;
  background-repeat: repeat-x;
  background-position: 5px center;
  width: 100%;
  height: 50px;
  padding-left:0px;
  display:block;
}
}

@media (max-width: 543px) {
  html {
    font-size: 24px;
    }
    #presentazione h1 span{
  font-size: 16px;
}
  
  
   .inner {
      padding:10px;
      margin:10px;
    }
}


@media (max-width: 770px) {
 html {
    font-size: 20px;
  }
#presentazione h1 span{
  font-size: 30px;
}
  

.inner {
  padding:20px;
  margin:20px;
}
.circleLineSmall {
    background: radial-gradient(circle at center, #c6c6c6 0%, #c6c6c6 30%, transparent 20%);
    background-size: 10px 10px;
    background-repeat: repeat-x;
    background-position: 20px 20px;
    width: 100%;
    height: 2.5em;
    text-align: left;
    display: inline-block;
    }
p {
  line-height: 100%;
 }
}


@media (max-width: 991px) {
html {
    font-size: 20px;
  }
  

.inner {
  padding: 20px;
  margin:20px;
}
 }

@media (max-width: 1199px) {
html {
    font-size: 28px;
  }
  

}





/*
 * Cover
 */

.cover {
  padding: 0 20px;

}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

/*.mastfoot {
  color: #000;  IE8 proofing
  color: rgba(255,255,255,.5);
}*/
.mastfoot a, a:focus, a:hover {
  color: #000;
}



.columnfill {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-fill: balance;
  -moz-column-fill: balance;
  column-fill: balance;
}